{% extends "layout/auth_layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
  <div class="card-header border-bottom"><h4>{% trans "Confirm E-mail Address" %}</h4></div>
  	<div class="card-body">
		{% if confirmation %}

		{% user_display confirmation.email_address.user as user_display %}

		<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

		<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
		{% csrf_token %}
		    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-thumbs-up">&nbsp;</i>{% trans 'Yes it is!' %}</button>
		</form>

		{% else %}

		{% url 'account_email' as email_url %}

		<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

		{% endif %}
	</div>
</div>

{% endblock %}
