{% extends "layout/auth_layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
    <div class="card-header border-bottom"><h4>Change Password</h4></div>
    <div class="card-body">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <input type="submit" name="action" class="btn btn-block btn-outline-primary" value="{% trans 'change password' %}"/>
                </form>
                {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
                
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

