{% extends "layout/auth_layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
  <div class="card-header border-bottom"><h4>{% trans "Change Password" %}</h4></div>
  <div class="card-body">		
		<p>Enter your current password below as well as your new desired password.</p>
	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <button type="submit" name="action" class="btn btn-block btn-outline-primary">{% trans "Change Password" %}</button>
	    </form>
	</div>
</div>
{% endblock %}
