{% load widget_tweaks %}
<div class="card">
  <div class="card-header"><h5 class="">Group: {{group}}</h5></div>
  <form method="POST">
    {% csrf_token %}
    <div class="card-body">
      <p>Select users to {% if 'add' in request.get_full_path %}add to{% else %}remove from{% endif %} this group by checking on the respective checkboxes.</p>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><input type="checkbox" id="select-all" name="users"></th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Role</th>
            </tr>
          </thead>
          <tbody>
            {% if users %}
              {% for user in users %}
                <tr>
                    <td>
                      <input type="checkbox" name="user_ids" value="{{user.id}}">
                    </td>               
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.user_type_desc}}</td>
                </tr>               
              {% endfor %} 
              {% else %}                 
              <tr>
                <td class="text-center" colspan="4">No users for your action</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="card-footer mb-5">
        <button type="button" class="btn btn-dark shadow float-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary float-right">
          <i class="fas fa-check-circle"></i>
          Submit
        </button>        
      </div>
    </div>
  </form>
</div>
<script>
  $('#select-all').click(function (event) {          
     var selected = this.checked;
     // Iterate each checkbox
     $(':checkbox').each(function () { this.checked = selected; });

 });
</script>