{% extends "layout/staff_layout.html" %}
{% load static %}

{% block section_header %}
  	<section class="section-header">    
	<h1>Departments</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Departments</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">All Departments</h2>
<div class="card shadow">
	<div class="card-body">
		<button class="mb-3 btn btn-primary btn-shadow" id="add-department">
			<i class="fas fa-plus-circle"></i> Add Department
		</button>
		<div class="table-responsive">
          	<table class="table text-center">
	            <thead>
	              <tr>
	                <th>S/No</th>
	                <th>Name</th>
	                <th>Active Vacancies</th>
	                <th>Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for department in departments %}
	                <tr>
	                	<td>{{forloop.counter}}</td>
	                  	<td>{{department.name}}</td>
	                  	<td>{{department.active_vacancies_count}}</td>
	                  	<td>
	                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
	                          <i class="fas fa-ellipsis-v"></i>
	                        </a>
	                        <div class="dropdown-menu">
	                          <button type="button" class="update-department dropdown-item btn-sm" data-id="{% url 'update-department' department.id %}"> 
	                            <i class="far fa-edit"></i> Update Department
	                          </button>
	                          <div class="dropdown-divider"></div>
	                          <button type="button" class="delete-department dropdown-item btn-sm text-danger" data-id="{% url 'delete-department' department.id %}"> 
	                            <i class="fas fa-trash"></i> Delete Department
	                          </button>
	                        </div>
                      	</td>               
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
</div>
	
{% endblock content %}

{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
  // $(document).ready(function(){
    $('#departments-link').addClass('active');
    $('.table').DataTable();
    $("#add-department").modalForm({
        formURL: "{% url 'add-department' %}"
    });
    $(".update-department").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
    });
    $(".delete-department").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
    });
  // });
</script>  
{% endblock customjs %}