<li class="menu-header d-lg-none">Vacancies</li>
<li class="nav-item dropdown" id="vacancies-link">
	<a href="#" data-toggle="dropdown" class="nav-link has-dropdown"><i class="far fa-clone"></i><span>Vacancies</span></a>
	<ul class="dropdown-menu">
		<li class="nav-item" id="active-vacancies-link"><a href="{% url 'active-vacancies-list' %}" class="nav-link">Active Vacancies</a></li>
		<li class="nav-item" id="applied-vacancies-link"><a href="{% url 'my-applied-jobs' %}" class="nav-link">My Applied Jobs</a></li>
	</ul>
</li>
