<li class="menu-header">Vacancies</li>
<li class="dropdown" id="vacancies-link">
  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-pdf"></i> <span>Vacancies</span></a>
  <ul class="dropdown-menu">
    <li id="active-vacancies-link"><a class="nav-link" href="{% url 'active-vacancies-list' %}">Active Vacancies</a></li>
    <li id="closed-vacancies-link"><a class="nav-link" href="{% url 'closed-vacancies-list' %}">Closed Vacancies</a></li>
    <li id="shortlisted-vacancies-link"><a class="nav-link" href="{% url 'shortlisted-vacancies-list' %}">Shortlisted Vacancies</a></li>
     <li id="finalized-vacancies-link"><a class="nav-link" href="{% url 'finalized-vacancies-list' %}">Finalized Vacancies</a></li>
  </ul>
</li>
<li class="menu-header">Analytics</li>
<li><a class="nav-link" href="#"><i class="far fa-chart-bar"></i> <span>Departmental Analysis</span></a></li>