<li class="menu-header">Departments &amp; Vacancies</li>
<li id="departments-link"><a class="nav-link" href="{% url 'departments-list' %}"><i class="fas fa-tasks"></i> <span>Departments</span></a></li>
<li class="dropdown" id="vacancies-link">
  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-file-pdf"></i> <span>Vacancies</span></a>
  <ul class="dropdown-menu">
    <li id="active-vacancies-link"><a class="nav-link" href="{% url 'active-vacancies-list' %}">Active Vacancies</a></li>
    <li id="closed-vacancies-link"><a class="nav-link" href="{% url 'closed-vacancies-list' %}">Closed Vacancies</a></li>
    <li id="vacancy-progress-link"><a class="nav-link" href="">Progress Analysis</a></li>
  </ul>
</li>
<li class="menu-header">Analytics</li>
<li><a class="nav-link" href="#"><i class="far fa-chart-bar"></i> <span>Departmental Analysis</span></a></li>
<li id="locality-link"><a class="nav-link" href="{% url 'locality-list' %}"><i class="fas fa-map-marked-alt"></i> <span>Locality</span></a></li>