{% extends "layout/staff_layout.html" %}
{% load static %}
{% block section_header %}
  <div class="section-header">
    <h1>Dashboard</h1>
  </div>
{% endblock section_header %}
{% block content %}
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats mb-5">
            <div class="card-stats-title">User Statistics</div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                <div class="card-stats-item-count">8</div>
                <div class="card-stats-item-label">Staff Users</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">50</div>
                <div class="card-stats-item-label">Registered Applicants</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">10</div>
                <div class="card-stats-item-label">Active Vacancies</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">10</div>
                <div class="card-stats-item-label">Closed Vacancies</div>
              </div>

            </div>
          </div>          
        </div>
      </div>
    </div>
    <hr class="hr">
    <h2 class="section-title">Quick Actions</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-dark">
          <div class="card-header">
            <h4>Groups</h4>
            <div class="card-header-action">
              
              <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Options</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <button id="add-group" class="dropdown-item btn-sm" type="button" name="button">
                    <i class="fas fa-plus-circle"></i> &nbsp; Add Group
                  </button>
                  <a href="{% url 'group-list' %}" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View All</a>
                </div>
              </div>              
            </div>
          </div>          
        </div>        
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h4>Departments</h4>
            <div class="card-header-action">
              
              <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Options</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <button id="add-department" class="dropdown-item btn-sm" type="button" name="button">
                    <i class="fas fa-plus-circle"></i> &nbsp; Add Department
                  </button>
                  <a href="{% url 'departments-list' %}" class="dropdown-item btn-sm">
                    <i class="fas fa-eye"></i> &nbsp; View All
                  </a>
                </div>
              </div>              
            </div>
          </div>          
        </div>        
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-danger">
          <div class="card-header">
            <h4>Vacancies</h4>
            <div class="card-header-action">
              
              <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Options</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <button id="add-vacancy" class="dropdown-item btn-sm" type="button" name="button">
                    <i class="fas fa-plus-circle"></i> &nbsp; Add Vacancy
                  </button>
                  <a href="{% url 'active-vacancies-list' %}" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View Active</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'closed-vacancies-list' %}" class="dropdown-item has-icon text-danger"><i class="fas fa-archive"></i> View Closed</a>
                </div>
              </div>              
            </div>
          </div>          
        </div>        
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-dark">
          <div class="card-header">
            <h4>Pull User Data</h4>
            <form class="card-header-form">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search National ID">
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-icon"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card card-dark">
          <div class="card-header">
            <h4>Pull Vacancy Data</h4>
            <form class="card-header-form">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search Vacancy Number">
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-icon"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>      
    </div>
{% endblock content %}
{% block customjs %}
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>  
  <script>
      $('#dashboard-link').addClass('active');
      $('.table').DataTable();        

      $("#add-department").modalForm({
        formURL: "{% url 'add-department' %}"
      });
      $("#add-group").modalForm({
        formURL: "{% url 'add-group' %}"
      });
      $("#add-vacancy").modalForm({
        formURL: "{% url 'add-vacancy' %}"
      });

  </script>    
{% endblock customjs %}