{% extends "layout/layout.html" %}
{% load static %}
{% load humanize %}
{% block section_header %}
  <section class="section-header d-lg-none text-center">    
    <h1>NYERI CPSB RECRUITMENT PORTAL</h1>
  </section>
{% endblock section_header %}
{% block content %}
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto">
        <div class="text-center">          
          <h1 class="my-3">Welcome to the Nyeri CPSB online Recruitment Portal</h1>
          <p class="my-3">Get to apply for active vacancies within the County Public Service at the click of a button.</p>

          {% if active_vacancies %}            
            <p>Below are some of the active vacancies at the moment...</p>
          {% endif %}
        </div>

        <ul class="list-group">
          {% if active_vacancies %}
            {% for vacancy in active_vacancies %}
              <li class="list-group-item">
                <div>
                  <span class="float-right">
                    <button type="button" class="vacancy-details btn btn-primary btn-sm" data-id="{% url 'vacancy-requirements' vacancy.id %}"> 
                      <i class="fas fa-eye"></i> View Details
                    </button>
                  </span>
                  <h6>{{vacancy.name}}</h6> 
                  <small><b>Posted</b>: {{vacancy.opening_date}}</small>
                  <br>
                  <small><b>Deadline</b>: {{vacancy.closing_date}} ({{vacancy.closing_date|naturaltime}})</small>
                </div>
              </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item">              
              <p class="mx-2">We have no active vacancies at the moment</p>            
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script>
      $('#dashboard-link').addClass('active');
      $(".vacancy-details").each(function () {
        $(this).modalForm({
          // modalID: "#modal-crud",
          formURL: $(this).data('id')
        });
    });
  </script>    
{% endblock customjs %}