{% extends "layout/layout.html" %}
{% load static %}
{% block section_header %}
  <section class="section-header">    
      <h1>{{user.get_full_name}}</h1>
  </section>
{% endblock section_header %}
{% block content %}
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-fire"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>Active Vacancies</h5>
            </div>
            <div class="card-body">
              {{active_vacancies_count}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'active-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>My Applied Jobs</h5>
            </div>
            <div class="card-body">
              {{applied_vacancies}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'my-applied-jobs' %}">View Jobs <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>My Qualifications</h4>
            <div class="card-header-action">
              <button class="btn btn-primary" type="button" id="add-qualification">
                <i class="fas fa-plus-circle"></i> Add Record
              </button>

            </div>
          </div>
          <div class="card-body">
            <div class="d-none d-lg-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Level</th>
                      <th>Course</th>
                      <th>Institution</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for qualification in user.qualifications.all %}
                      <tr>
                        <td>{{qualification.get_level_display}}</td>
                        <td>{{qualification.course}}</td>
                        <td>{{qualification.institution}}</td>
                        <td>
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <button type="button" class="update-qualification dropdown-item btn-sm" data-id="{% url 'update-qualification' qualification.id %}"> 
                              <i class="far fa-edit"></i> Update Record
                            </button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="delete-qualification dropdown-item btn-sm text-danger" data-id="{% url 'delete-qualification' qualification.id %}"> 
                              <i class="fas fa-trash"></i> Delete Record
                            </button>
                          </div>
                        </td>
                      </tr>               
                    {% endfor %}                  
                  </tbody>
                </table>
              </div>              
            </div>
            <div class="d-lg-none">
              <ul class="list-group shadow">
                {% if user.qualifications.all %}
                  {% for qualification in user.qualifications.all %}
                    <li class="list-group-item">
                      <div>
                        <span class="float-right">
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <button type="button" class="update-qualification dropdown-item btn-sm" data-id="{% url 'update-qualification' qualification.id %}"> 
                              <i class="far fa-edit"></i> Update Record
                            </button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="delete-qualification dropdown-item btn-sm text-danger" data-id="{% url 'delete-qualification' qualification.id %}"> 
                              <i class="fas fa-trash"></i> Delete Record
                            </button>
                          </div>
                        </span>
                        <h6>{{qualification.get_level_display}} in {{qualification.course}}</h6> 
                        <p>{{qualification.institution}}</p>
                      </div>
                    </li>
                  {% endfor %}
                  {% else %}
                  <p class="mx-2">You've not made any applications</p>            
                {% endif %}
              </ul>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>My Employment Records</h4>
            <div class="card-header-action">
              <button class="btn btn-primary" type="button" id="add-employment">
                <i class="fas fa-plus-circle"></i> Add Record
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="d-none d-lg-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Organization</th>
                      <th>Designation</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for record in employment_records %}
                      <tr>
                        <td>{{record.organization}}</td>
                        <td>{{record.designation}}</td>
                        <td>
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <button type="button" class="update-employment dropdown-item btn-sm" data-id="{% url 'update-employment' record.id %}"> 
                              <i class="far fa-edit"></i> Update Record
                            </button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="delete-employment dropdown-item btn-sm text-danger" data-id="{% url 'delete-employment' record.id %}"> 
                              <i class="fas fa-trash"></i> Delete Record
                            </button>
                          </div>
                        </td>
                      </tr>               
                    {% endfor %}                  
                  </tbody>
                </table>
              </div> 
            </div>
            <div class="d-lg-none">
              <ul class="list-group shadow">
                {% if employment_records %}
                  {% for record in employment_records %}
                    <li class="list-group-item">
                      <div>
                        <span class="float-right">
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <button type="button" class="update-employment dropdown-item btn-sm" data-id="{% url 'update-employment' record.id %}"> 
                              <i class="far fa-edit"></i> Update Record
                            </button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="delete-employment dropdown-item btn-sm text-danger" data-id="{% url 'delete-employment' record.id %}"> 
                              <i class="fas fa-trash"></i> Delete Record
                            </button>
                          </div>
                        </span>
                        <h6>{{record.organization}}</h6> 
                        <p>{{record.designation}}</p>
                      </div>
                    </li>
                  {% endfor %}
                  {% else %}
                  <p class="mx-2">You've not made any applications</p>            
                {% endif %}
              </ul>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block customjs %}
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script> 
  <script>
    $(document).ready(function(){
      $('#dashboard-link').addClass('active');
      $('.table').DataTable({
        "bLengthChange": false,
        "bFilter": false,
      });

      $("#add-qualification").modalForm({
        formURL: "{% url 'add-qualification' %}"
      });
      $(".update-qualification").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });
      $(".delete-qualification").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });

      $("#add-employment").modalForm({
        formURL: "{% url 'add-employment' %}"
      });
      $(".update-employment").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });
      $(".delete-employment").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });
    });
  </script>  
{% endblock customjs %}