{% extends "layout/staff_layout.html" %}
{% load static %}
{% block section_header %}
  <div class="section-header">
    <h1>Dashboard</h1>
  </div>
{% endblock section_header %}
{% block content %}
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-fire"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>Active Vacancies</h5>
            </div>
            <div class="card-body">
              {{active_vacancies_count}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'active-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>Awaiting Shortlisting</h5>
            </div>
            <div class="card-body">
              {{closed_vacancies_count}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'closed-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-tasks"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>Awaiting Selection</h5>
            </div>
            <div class="card-body">
              {{shortlisted_vacancies_count}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'shortlisted-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-check"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h5>Finalized Vacancies</h5>
            </div>
            <div class="card-body">
              {{finalized_vacancies_count}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'finalized-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><h4>Awaiting Shortlisting</h4></div>
          <div class="card-body">            
            <div class="d-none d-lg-block">
              <div class="table-responsive">
                <table class="table" id="datatable">
                  <thead>
                    <tr>
                      <th>Vacancy</th>
                      <th>Number of applicants</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for vacancy in shortlisted_vacancies %}
                      <tr>
                        <td>{{vacancy.name}}</td>
                        <td>{{vacancy.applicants}}</td>
                        <td>
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <a href="{% url 'applicants-list' vacancy.id %}" class="dropdown-item btn-sm"> 
                              <i class="fas fa-eye"></i> View Applicants
                            </a>
                          </div>
                        </td>
                      </tr>               
                    {% endfor %}                  
                  </tbody>
                </table>
              </div>              
            </div>
            <div class="d-lg-none">
              <ul class="list-group shadow">
                {% if shortlisted_vacancies %}
                  {% for vacancy in shortlisted_vacancies %}
                    <li class="list-group-item">
                      <div>                        
                        <h6>{{vacancy.name}}</h6> 
                        <p>{{vacancy.vacancy_number}}</p>
                      </div>
                    </li>
                  {% endfor %}
                  {% else %}
                  <p class="mx-2">No closed vacancies at the moment</p>            
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><h4>Awaiting Appointment</h4></div>
          <div class="card-body">            
            <div class="d-none d-lg-block">
              <div class="table-responsive">
                <table class="table" id="datatable">
                  <thead>
                    <tr>
                      <th>Vacancy</th>
                      <th>Shortlisted Candidates</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for vacancy in shortlisted_vacancies %}
                      <tr>
                        <td>{{vacancy.name}}</td>
                        <td>{{vacancy.shortlisted_candidates}}</td>
                        <td>
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                            <a href="{% url 'shortlisted-candidates-list' vacancy.id %}" class="dropdown-item btn-sm"> 
                              <i class="fas fa-eye"></i> View Shortlisted
                            </a>
                          </div>
                        </td>
                      </tr>               
                    {% endfor %}                  
                  </tbody>
                </table>
              </div>              
            </div>
            <div class="d-lg-none">
              <ul class="list-group shadow">
                {% if shortlisted_vacancies %}
                  {% for vacancy in shortlisted_vacancies %}
                    <li class="list-group-item">
                      <div>                        
                        <h6>{{vacancy.name}}</h6> 
                        <p>{{vacancy.vacancy_number}}</p>
                      </div>
                    </li>
                  {% endfor %}
                  {% else %}
                  <p class="mx-2">No shortlisted vacancies at the moment</p>            
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block customjs %}
<script>
  $(document).ready(function(){
    $('#dashboard-link').addClass('active');
      $('.table').DataTable();
  });
</script>
  
{% endblock customjs %}