{% extends "layout/staff_layout.html" %}
{% load static %}
{% block section_header %}
  <div class="section-header">
    <h1>Dashboard</h1>
  </div>
{% endblock section_header %}
{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="fas fa-fire"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h5>Active Vacancies</h5>
          </div>
          <div class="card-body">
            {{active_vacancies_count}}
          </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'active-vacancies-list' %}">View Vacancies <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="fas fa-folder-open"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h5>Awaiting Shortlisting</h5>
          </div>
          <div class="card-body">
            {{closed_vacancies_count}}
          </div>
        </div>
        <div class="card-footer">
          <a href="#">View Vacancies <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"><h4>Shortlisted Vacancies Awaiting Appointment</h4></div>
        <div class="card-body">            
          <div class="d-none d-lg-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>S/No</th>
                    <th>Vacancy</th>
                    <th>Shortlisted Candidates</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vacancy in shortlisted_vacancy %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{vacancy.name}}</td>
                      <td>{{vacancy.shortlisted_candidates}}</td>
                      <td>
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu">
                          <button type="button" class="update-qualification dropdown-item btn-sm" data-id="{% url 'update-qualification' qualification.id %}"> 
                            <i class="far fa-edit"></i> Update Record
                          </button>
                          <div class="dropdown-divider"></div>
                          <button type="button" class="delete-qualification dropdown-item btn-sm text-danger" data-id="{% url 'delete-qualification' qualification.id %}"> 
                            <i class="fas fa-trash"></i> Delete Record
                          </button>
                        </div>
                      </td>
                    </tr>               
                  {% endfor %}                  
                </tbody>
              </table>
            </div>              
          </div>
          <div class="d-lg-none">
            <ul class="list-group shadow">
              {% if user.qualifications.all %}
                {% for qualification in user.qualifications.all %}
                  <li class="list-group-item">
                    <div>
                      <span class="float-right">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu">
                          <button type="button" class="update-qualification dropdown-item btn-sm" data-id="{% url 'update-qualification' qualification.id %}"> 
                            <i class="far fa-edit"></i> Update Record
                          </button>
                          <div class="dropdown-divider"></div>
                          <button type="button" class="delete-qualification dropdown-item btn-sm text-danger" data-id="{% url 'delete-qualification' qualification.id %}"> 
                            <i class="fas fa-trash"></i> Delete Record
                          </button>
                        </div>
                      </span>
                      <h6>{{qualification.get_level_display}} in {{qualification.course}}</h6> 
                      <p>{{qualification.institution}}</p>
                    </div>
                  </li>
                {% endfor %}
                {% else %}
                <p class="mx-2">No shortlisted vacancies at the moment</p>            
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block customjs %}
  
{% endblock customjs %}
