{% extends "layout/auth_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Complete Profile{% endblock %}

{% block content %}
<div class="card card-primary shadow">
	<div class="card-header border-bottom"><h4>Complete Your Profile</h4></div>
	<div class="card-body">		
		<p>Current employment details.</p>	

		<form method="POST">
		  	{% csrf_token %}
		  	{{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {% crispy form %}
              {% endfor %}
            {% else %}              
              {% crispy wizard.form %}
            {% endif %}
		</form>
	</div>
</div>
{% endblock %}
{% block customjs %}

<script>
$(document).ready(function (){
	$('.current_employment_details').hide();
	$("#id_current_employment-current").change(function() {
      if(this.checked) {
        $('.current_employment_details').show();
      }
      else {
        $('.current_employment_details').hide();
      }
    });
});
</script>
	
{% endblock customjs %}