{% extends "layout/auth_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
      <div class="card card-primary shadow">
        <div class="card-header border-bottom"><h4>Complete Your Profile</h4></div>
        <div class="card-body">
          <p>Enter your <u>Completed</u> Academic Qualifications here.</p>
          <form method="POST">
          {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}

              {{ wizard.form.management_form }}
              <div class="table-responsive">
                <table class="table">
                  {% for form in wizard.form.forms %}
                      {% if forloop.first %}
                          <thead>
                          <tr>
                              {% for field in form.visible_fields %}
                                  <th>{{ field.label|capfirst }}</th>
                              {% endfor %}
                          </tr>
                          </thead>
                      {% endif %}
                      <tr class="border-bottom {% cycle 'row1' 'row2' %} formset_row">
                          {{form.id}}
                          <td style="display:none">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                          {% for field in form.visible_fields %}
                              <td>
                                  {# Include the hidden fields in the form #}
                                  {% if forloop.first %}
                                      {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                      {% endfor %}
                                  {% endif %}
                                  {{ field.errors.as_ul }}
                                  <div class="input-group">                                    
                                    {{ field}}
                                  </div>
                              </td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
              </div>
                
              {% else %}
                <div class="form-row">
                  <div class="col">{{form|crispy}}</div>
                </div>
            {% endif %}
            <div class="alert alert-outline-info alert-has-icon mt-2">
              <div class="alert-icon"><img src="{% static 'img/light-bulb.svg' %}" class="mt-3 ml-2" style="transform:scale(2.4);" alt=""></div>
              <div class="alert-body">
                <div class="alert-title">Info Tip!</div>
                If you have no details to fill on this page, simply skip this step.
              </div>
            </div>
            {% include "recruitment/forms/wizards/_buttons.html" %}
          </form>                 
        </div>
      </div>
{% endblock content %}
{% block customjs %}
<script src="{% static 'js/formset.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#declaration-link').addClass('active');
    $('.formset_row').formset({
      prefix: '{{wizard.form.prefix}}',
      addText: '<button class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> &nbsp; Add Qualification</button>',
      deleteText: '<button class="btn btn-danger">&times;</button>',
    });
  });
</script>  
{% endblock customjs %}