{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block section_header %}
    {% include "recruitment/forms/wizards/_progress_bar.html" %}
  <section class="section-header">    
      <h1>Compliance with Chapter Six of the Constitution</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
        <div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancies - ({{vacancy}})</a></div>
        <div class="breadcrumb-item">Apply</div>
      </div>
  </section>
{% endblock section_header %}
{% block content %}
    <div class="container">
      <div class="card card-primary">
        <div class="card-header border-bottom"><h5>Compliance Certificates Details</h5></div>
        <div class="card-body">
          
          <form method="POST">
          {% csrf_token %}            
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {% crispy form %}
              {% endfor %}
            {% else %}              
              {% crispy wizard.form %}
            {% endif %}
            
            {# {% include "recruitment/forms/wizards/_buttons.html" %} #}
          </form>                 
        </div>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
  });
</script>  
{% endblock customjs %}