{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block section_header %}
    {% include "recruitment/forms/wizards/_progress_bar.html" %}
  <section class="section-header">    
      <h1>Personal Details</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
        <div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancies - ({{vacancy}})</a></div>
        <div class="breadcrumb-item">Apply</div>
      </div>
  </section>
{% endblock section_header %}
{% block content %}
    <div class="">
      <div class="card card-primary">
        <div class="card-header border-bottom"><h5>Let's start with the basic information</h5></div>
        <div class="card-body">
          <div class="alert alert-outline-info alert-has-icon">
            <div class="alert-icon mr-3"><img src="{% static 'img/light-bulb.svg' %}" class="mt-3 ml-2" style="transform:scale(2.4);" alt=""></div>
            <div class="alert-body">
              <div class="alert-title">Tip!</div>
              These details are automatically fetched from your profile. To keep them upto date, simply update your profile in case of a change in your details.
            </div>
          </div>
          <form method="POST" id="form" data-subcounties-url="{% url 'ajax_load_subcounties' %}" data-wards-url="{% url 'ajax_load_wards' %}" data-sublocations-url="{% url 'ajax_load_sublocations' %}">
          {% csrf_token %}            
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {% crispy form %}
              {% endfor %}
            {% else %}              
              {% crispy wizard.form %}
            {% endif %}
          </form>                 
        </div>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
    $('.disability_additional_details, .conviction_description, .dismissal_description').hide();

    $("#id_personal_details-disability_status").change(function() {
      if(this.checked) {
        $('.disability_additional_details').show();
      }
      else {
        $('.disability_additional_details').hide();
      }
    });

    $("#id_personal_details-criminal_offence_conviction").change(function() {
      if(this.checked) {
        $('.conviction_description').show();
      }
      else {
        $('.conviction_description').hide();
      }
    });

    $("#id_personal_details-dismissal_from_employment").change(function() {
      if(this.checked) {
        $('.dismissal_description').show();
      }
      else {
        $('.dismissal_description').hide();
      }
    });
  });
</script>
<script src="{% static 'js/load_ajax_results.js' %}"></script>  
{% endblock customjs %}