{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block section_header %}
  <section class="section-header">    
      <h1>Professional Bodies</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
        <div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancies - ({{vacancy}})</a></div>
        <div class="breadcrumb-item">Apply</div>
      </div>
  </section>
{% endblock section_header %}
{% block content %}
    <div class="container">
      <div class="card card-primary">
        <div class="card-body">
            <div class="alert alert-outline-info alert-has-icon">
              <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
              <div class="alert-body">
                <div class="alert-title">Tip!</div>
                Simply skip this step if you are not a member of a professional body.
              </div>
            </div>
          <form method="POST">
          {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}

              {{ wizard.form.management_form }}
              <div class="table-responsive">
                <table class="table">
                  {% for form in wizard.form.forms %}
                      {% if forloop.first %}
                          <thead>
                          <tr>
                              {% for field in form.visible_fields %}
                                  <th>{{ field.label|capfirst }}</th>
                              {% endfor %}
                          </tr>
                          </thead>
                      {% endif %}
                      <tr class="border-bottom {% cycle 'row1' 'row2' %} formset_row">
                          {{form.id}}
                          <td style="display:none">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                          {% for field in form.visible_fields %}
                              <td>
                                  {# Include the hidden fields in the form #}
                                  {% if forloop.first %}
                                      {% for hidden in form.hidden_fields %}
                                          {{ hidden }}
                                      {% endfor %}
                                  {% endif %}
                                  {{ field.errors.as_ul }}
                                  {{ field|add_class:"form-control" }}
                              </td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
              </div>
                
              {% else %}
                <div class="form-row">
                  <div class="col">{{form|crispy}}</div>
                </div>
            {% endif %}
            
            {% include "recruitment/forms/wizards/_buttons.html" %}
          </form>                 
        </div>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
<script src="{% static 'js/formset.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
    $('.formset_row').formset({
      prefix: '{{wizard.form.prefix}}',
      addText: '<button class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> &nbsp; Add Professional Body</button>',
      deleteText: '<button class="btn btn-danger">&times;</button>',
    });
  });
</script>  
{% endblock customjs %}