{% extends "layout/staff_layout.html" %}
{% load static %}

{% block section_header %}
    <section class="section-header">    
  <h1>Groups</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
    <div class="breadcrumb-item">Groups</div>
  </div>
    </section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Groups List</h2>
<div class="card shadow">
  <div class="card-body">   
    <button class="mb-3 btn btn-primary btn-shadow" id="add-group">
      <i class="fas fa-plus-circle"></i> Add Group
    </button> 
    <div class="table-responsive">
      <table class="table text-center">
          <thead>
            <tr>
              <th>S/No</th>
              <th>Name</th>
              <th>Users</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{group.name}}</td>
                <td>{{group.user_set.count}}</td>
                <td>
                  <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu">
                    <button type="button" class="add-group-member dropdown-item btn-sm" data-id="{% url 'add-group-member' group.id %}"> 
                      <i class="fas fa-plus-circle"></i> Add Member(s)
                    </button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="remove-group-member dropdown-item btn-sm text-danger" data-id="{% url 'remove-group-member' group.id %}"> 
                      <i class="fas fa-trash"></i> Remove Member(s)
                    </button>
                  </div>
                </td>               
              </tr>               
            {% endfor %}                  
          </tbody>
      </table>
    </div>
  </div>
</div>  
{% endblock content %}
{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script> 
<script>    
  $('.table').dataTable();
  $("#add-group").modalForm({
        formURL: "{% url 'add-group' %}"
    });
  $(".add-group-member").each(function () {
    $(this).modalForm({
      formURL: $(this).data('id')
    });
  });
  $(".remove-group-member").each(function () {
    $(this).modalForm({
      formURL: $(this).data('id')
    });
  });
</script>  
{% endblock customjs %}