table.dataTable {
  border-collapse: collapse !important;
  thead {
    th, td {
      border-bottom: 1px solid #ddd !important;
    }
  }
  &.no-footer {
    border-bottom: 1px solid #ddd !important;
  }
}

.dataTables_wrapper {
  padding: 0 !important;
  font-size: 13px !important;
  .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin: 0 !important;
    float: left;
  }
}

div.dataTables_wrapper div.dataTables_processing {
  font-size: 0 !important;
  background-color: #fff;
  background-size: 100%;
  width: 50px !important;
  height: 50px;
  border: none;
  @include shadow;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  opacity: 1 !important;
}