<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>CPSB NYERI &rsaquo; AUTH MANAGEMENT | {% block head_title %}{% endblock %}</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- Plugins -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="{% if 'login' in request.get_full_path or 'logout' in request.get_full_path or 'password' in request.get_full_path%}col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-5 offset-xl-4{% else %}col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1{% endif %}">
              <div class="login-brand">
                <img src="{% static 'img/cpsb_logo.png' %}" alt="logo" class="img-fluid">
              </div>
              {% block content %}
                
              {% endblock content %}
              <div class="simple-footer mt-2">
                Copyright &copy; Nyeri County Government 2020
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>
    <script src="{% static 'js/stisla.js' %}"></script>
    <!-- Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{% static 'js/jquery.placeholder.label.min.js' %}"></script>
    <script>
    // $('input[placeholder]').placeholderLabel({labelColor: "#4da35b",});
    </script>
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="{% static 'js/scripts.js' %}"></script>
    
    <script>
    {% if messages %}
      {% for message in messages %}
        var swal_func = function() {
          Swal.fire({
            type: "{{message.tags}}",
            title: "{{message|safe}}",
            position: 'bottom-start',
            toast: true,
            confirmButtonText: "&times;",
          });
        }
        document.write(swal_func())
      {% endfor %}
      
    {% endif %}
    </script> 
    {% block customjs %}      
    {% endblock customjs %}
  </body>
</html>
