<div class="dropdown-menu">
  <a href="{% url 'vacancy-details' vacancy.id %}" class="dropdown-item btn-sm">
    <i class="fas fa-long-arrow-alt-right"></i> View Details
  </a>
	<a href="{% url 'applicants-list' vacancy.id %}" class="update-vacancy dropdown-item btn-sm">
  	<i class="fas fa-eye"></i> View Applicants
  </a>
  <button type="button" class="update-vacancy dropdown-item btn-sm" data-id="{% url 'update-vacancy' vacancy.id %}"> 
    <i class="far fa-edit"></i> Update Vacancy
  </button>
  <div class="dropdown-divider"></div>
  <button type="button" class="delete-vacancy dropdown-item btn-sm text-danger" data-id="{% url 'delete-vacancy' vacancy.id %}"> 
    <i class="fas fa-trash"></i> Delete Vacancy
  </button>
</div>