<div class="dropdown-menu">
  <a href="{% url 'vacancy-details' vacancy.id %}" class="dropdown-item btn-sm">
    <i class="fas fa-long-arrow-alt-right"></i> View Details
  </a>
  <a href="{% url 'applicants-list' vacancy.id %}" class="update-vacancy dropdown-item btn-sm">
  	<i class="fas fa-eye"></i> &nbsp;
  	View Applicants
  </a>
</div>