{% extends "layout/layout.html" %}
{% load static %}
{% block section_header %}
  	<section class="section-header">    
	<h1>Vacancies</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Vacancies</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Active Vacancies</h2>
<div class="card shadow">
	<div class="card-body d-none d-lg-block">
		<div class="table-responsive">
          	<table class="table text-center">
	            <thead>
	              <tr>
	                <th>S/No</th>
	                <th>Vacancy Number</th>
	                <th>Vacancy Name</th>
	                <th>Closing Date</th>
	                <th>Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for vacancy in vacancies %}
	                <tr>
	                	<td>{{forloop.counter}}</td>
	                  	<td>{{vacancy.vacancy_number}}</td> 
	                  	<td>{{vacancy.name}}</td>
	                  	<td>{{vacancy.closing_date}}</td>
	                  	<td>
	                  		[<a class="vacancy-details btn-sm" href="#" data-id="{% url 'vacancy-requirements' vacancy.id %}"> <i class="fas fa-tasks"></i> Requirements </a>]
	                  		[<a class="btn-sm" href="{% url 'vacancy-details' vacancy.id %}"> <i class="fas fa-graph"></i> Progress </a>]
	                  		[<a href="{% url 'apply' vacancy.id %}" class="btn-sm"> <i class="fas fa-sign-out-alt"></i> Apply </a>]
	                  	</td>                 
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
	<div class="card-body d-lg-none">
		<ul class="list-group shadow">
        	{% if vacancies %}
	        	{% for vacancy in vacancies %}
					<li class="list-group-item pb-0">
					  	<h6><span class="font-weight-bold">Vacancy</span>: {{vacancy.name}}</h6>
					  	<p><span class="font-weight-bold">V/Number</span>: {{vacancy.vacancy_number}}</p>
					  	<p><span class="font-weight-bold">Deadline</span>: {{vacancy.closing_date}}</p>
					  	<div class="my-2">					  		
					  		[<a class="vacancy-details text-primary" data-id="{% url 'vacancy-details' vacancy.id %}"> <i class="fas fa-tasks"></i> View Details </a>] [<a href="{% url 'apply' vacancy.id %}"><i class="fas fa-sign-out-alt"></i> Apply</a>]
					  	</div>
					</li>
	        	{% endfor %}
	        	{% else %}
	        	<p class="mx-2">No active vacancies</p>
        		
        	{% endif %}
		</ul>
	</div>
</div>
	
{% endblock content %}

{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
    $('#active-vacancies-link').addClass('active');

    $('.table').DataTable({
      // "bLengthChange": false,
      // "bFilter": false,
    });
    $(".vacancy-details").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
    });
  });
</script>  
{% endblock customjs %}