{% extends "layout/staff_layout.html" %}
{% load static %}
{% block section_header %}
  	<section class="section-header">    
	<h1>Vacancies</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Closed Vacancies</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Closed Vacancies Awaiting Shortlisting</h2>
<div class="card shadow">
	<div class="card-body">
		<div class="table-responsive">
          	<table class="table text-center">
	            <thead>
	              <tr>
	                <th>S/No</th>
	                <th>Vacancy Number</th>
	                <th>Vacancy Name</th>
	                <th>Closed On</th>
	                <th>Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for vacancy in vacancies %}
	                <tr>
	                	<td>{{forloop.counter}}</td>
	                  	<td>{{vacancy.vacancy_number}}</td> 
	                  	<td>{{vacancy.name}}</td>
	                  	<td>
	                  		{{vacancy.closing_date}}
	                  		&nbsp;
	                  		{% if not vacancy.meta_status == 'awaiting_action' and not vacancy.meta_status == 'finalized' %}
	                  			<span class="badge badge-danger">{{vacancy.meta_status}}</span>
	                  		{% endif %}
	                  	</td>
	                  	<td>
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">       
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu">
                        	<a href="{% url 'vacancy-details' vacancy.id %}" class="dropdown-item btn-sm">
														<i class="fas fa-long-arrow-alt-right"></i>  &nbsp; Progress &amp; Analysis
													</a>
													<a href="{% url 'applicants-list' vacancy.id %}" class="update-vacancy dropdown-item btn-sm">
												  	<i class="fas fa-eye"></i> View Applicants
												  </a>
												  {% if not vacancy.meta_status == 'awaiting_action' and not vacancy.meta_status == 'finalized' %}
													  {% if perms.recruitment.can_shortlist %}
													  	<a href="{% url 'awaiting_room' vacancy.id 'shortlisting' %}" class="update-vacancy dropdown-item btn-sm">
														  	<i class="fas fa-arrow-right"></i> Load Awaiting Room
														  </a>
													  {% endif %}													  	
												  {% endif %}
												  {% if perms.recruitment.can_add_vacancies %}
													  <button type="button" class="update-vacancy dropdown-item btn-sm" data-id="{% url 'update-vacancy' vacancy.id %}"> 
													    <i class="far fa-edit"></i> Update Vacancy
													  </button>
													  <div class="dropdown-divider"></div>
													  <button type="button" class="delete-vacancy dropdown-item btn-sm text-danger" data-id="{% url 'delete-vacancy' vacancy.id %}"> 
													    <i class="fas fa-trash"></i> Delete Vacancy
													  </button>
						            	{% endif %}
												</div>
                    	</td>                 
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
</div>
	
{% endblock content %}

{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
    $('#closed-vacancies-link').addClass('active');

    $('.table').DataTable();
    $(".update-vacancy").each(function () {
        $(this).modalForm({
          // modalID: "#modal-crud",
          formURL: $(this).data('id')
        });
    });
  });
</script>  
{% endblock customjs %}