{% extends "layout/staff_layout.html" %}
{% load static %}
{% load user_groups %}

{% block section_header %}
  	<section class="section-header">    
	<h1>Vacancies</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Finalized Vacancies</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Finalized Vacancies</h2>
<div class="card shadow">
	<div class="card-body">
		<div class="table-responsive">
          	<table class="table text-center">
	            <thead>
	              <tr>
	                <th>S/No</th>
	                <th>Vacancy Number</th>
	                <th>Vacancy Name</th>
	                <th>Appointed Candidates</th>
	                <th>Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for vacancy in vacancies %}
	                <tr>
	                	<td>{{forloop.counter}}</td>
	                  	<td>{{vacancy.vacancy_number}}</td> 
	                  	<td>{{vacancy.name}}</td>
	                  	<td>{{vacancy.appointed_candidates}}</td>
	                  	<td>
	                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
	                          <i class="fas fa-ellipsis-v"></i>
	                        </a>
                        	<div class="dropdown-menu">
		                        <a href="{% url 'vacancy-details' vacancy.id %}" class="dropdown-item btn-sm">
															<i class="fas fa-long-arrow-alt-right"></i>  &nbsp; View Details
														</a>
		                        {% if user|exists_in_group:"STAFF" %}
															  <a href="{% url 'appointed-candidates-list' vacancy.id %}" class="update-vacancy dropdown-item btn-sm">
															  	<i class="fas fa-eye"></i> &nbsp;
															  	Appointed Candidates
															  </a>
		                        {% endif %}
													</div>
                      	</td>                 
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
</div>
	
{% endblock content %}

{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#vacancies-link').addClass('active');
    $('#finalized-vacancies-link').addClass('active');

    $('.table').DataTable();
    $(".update-vacancy, .delete-vacancy").each(function () {
        $(this).modalForm({
          // modalID: "#modal-crud",
          formURL: $(this).data('id')
        });
    });
  });
</script>  
{% endblock customjs %}