{% extends "layout/staff_layout.html" %}
{% load user_groups %}
{% load static %}
{% block section_header %}
  	<section class="section-header">    
	<h1>{{vacancy}}</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancies</a></div>
		<div class="breadcrumb-item">{{vacancy}}</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Vacancy Progress</h2>
<div class="row">
	<div class="col-md-7">
		<div class="activities">
			<div class="activity">
				<div class="activity-icon bg-dark text-white shadow-dark">
                  <i class="fas fa-clipboard-list"></i>
                </div>
                <div class="activity-detail">
                  <div class="mb-2">
                    <span class="text-job text-dark">Current Stage</span>
                    <span class="bullet"></span>
                    <a class="text-job" href="#">{{vacancy.status}}</a>                    
                  </div>
                  <p>This is the current status for the vacancy {{vacancy}}.</p>
                </div>
			</div>
			{% if previous_milestones %}
				{% for key, value in previous_milestones reversed %}
		            <div class="activity">
		                <div class="activity-icon bg-primary text-white shadow-primary">
		                  <i class="fas fa-check"></i>
		                </div>
		                <div class="activity-detail">
		                  <div class="mb-2">
		                    <span class="text-job">{{key}}</span>
		                    {% if value.useful_links %}
			                    <div class="float-right dropdown">
			                      <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
			                      <div class="dropdown-menu">
			                        <div class="dropdown-title">Options</div>
			                        {% for k, v in value.useful_links.items %}
			                        	<a href="{{v.url}}" class="dropdown-item has-icon"><i class="{{v.icon}}"></i> {{k}}</a>		                        	
			                        {% endfor %}		                        
			                      </div>
			                    </div>	                    	
		                    {% endif %}
		                  </div>
		                  <p>{{value.description}}.</p>
		                </div>
		            </div>				
				{% endfor %}
			{% endif %}
        </div>
	</div>
	<div class="col-md-5">
		<div class="activities">
			{% if next_milestone %}				
				<div class="activity">
					<div class="activity-icon bg-secondary text-white shadow-secondary">
	                  <i class="fas fa-spinner fa-pulse"></i>
	                </div>
	                <div class="activity-detail">
	                  <div class="mb-2">
	                    <span class="text-job text-dark">Next Milestone</span>
	                    <span class="bullet"></span>
	                    <a class="text-job" href="#">{{next_milestone}}</a>                    
	                  </div>
	                  <p>The next step for this vacancy is: {{next_milestone}}.</p>
	                </div>
				</div>
			{% endif %}
			{% if user|exists_in_group:"BOARD_MEMBERS" %}
				{% if appointment_reviews %}
					<div class="activity">						
		                <div class="activity-detail">
		                  	<div class="mb-2">
			                    <span class="text-job text-dark">Incase you missed</span>
			                    <span class="bullet"></span>
			                    <a class="text-job" href="#">Appointment Reviews</a>                    
		                  	</div>
			                <div class="table-responsive">
					          	<table class="table table-bordered table-sm" id="approvers-table">
						            <thead>
						              <tr>
						                <th>Name</th>
						                <th>Action</th>			                
						              </tr>
						            </thead>
						            <tbody>
						              {% for review in appointment_reviews %}
						              <tr>
						                  	<td>
						                  		{{review.user.get_full_name}}
						                  		{% if review.user == user %}
						                  			<i class="fas fa-check-circle text-primary"></i>
						                  		{% endif %}
						                  	</td>		                  	
						                  	<td>{{review.get_approval_display}}d</td>                
						                </tr>               
						              {% endfor %}                  
						            </tbody>
					          	</table>
					        </div>
		                </div>
					</div>
				{% endif %}
				{% if shortlisting_reviews %}
					<div class="activity">						
		                <div class="activity-detail">
		                  	<div class="mb-2">
			                    <span class="text-job text-primary">Incase you missed</span>
			                    <span class="bullet"></span>
			                    <a class="text-job" href="#">Shortlisting Reviews</a>                    
		                  	</div>
			                <div class="table-responsive">
					          	<table class="table table-bordered table-sm" id="approvers-table">
						            <thead>
						              <tr>
						                <th>Name</th>
						                <th>Action</th>			                
						              </tr>
						            </thead>
						            <tbody>
						              {% for review in shortlisting_reviews %}
						              <tr>
						                  	<td>
						                  		{{review.user.get_full_name}}
						                  		{% if review.user == user %}
						                  			<i class="fas fa-check-circle text-primary"></i>
						                  		{% endif %}
						                  	</td>		                  	
						                  	<td>{{review.get_approval_display}}d</td>                
						                </tr>               
						              {% endfor %}                  
						            </tbody>
					          	</table>
					        </div>
		                </div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}