{% load widget_tweaks %}
<div class="modal-header">
  <h5 class="modal-title">Vacancy Details</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="card card-primary">
    <div class="card-header">
      <h4>{{vacancy}}</h4>
      <div class="card-header-action">
        <a href="{% url 'apply' vacancy.id %}" class="btn btn-primary">
          Apply
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Department</td>
              <td>{{vacancy.department}}</td>
            </tr>
            <tr>
              <td>Vacancy Number</td>
              <td>{{vacancy.vacancy_number}}</td>
            </tr>
            <tr>
              <td>Experience</td>
              <td>{% if vacancy.experience %}{{vacancy.experience}} Years {% else %}No Experience Required{% endif %}</td>
            </tr>
            <tr>
              <td>Deadline</td>
              <td>{{vacancy.closing_date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <fieldset>
        <legend>Requirements</legend>
        {{vacancy.requirements|linebreaks}}
      </fieldset>
    </div>
  </div>
  
</div>

<div class="modal-footer bg-whitesmoke">
  <button type="button" class="btn btn-dark shadow" data-dismiss="modal">Close</button>
</div>
