{% extends "layout/staff_layout.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load user_groups %}
{% block section_header %}
  	<section class="section-header">    
	<h1>Applicants</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancy ({{vacancy}})</a></div>
		<div class="breadcrumb-item"><a href="{% url 'applicants-list' vacancy.id %}"><i class="fas fa-tasks"></i> &nbsp; Applicants</a></div>
		<div class="breadcrumb-item">Awaiting Room</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Awaiting Room - {{vacancy}}</h2>
<div class="row">
	<div class="col-md-8">
		<div class="card shadow">
			<div class="card-body">
				<p>The following candidates have been staged for this vacancy.</p>
				<div class="table-responsive">
		          	<table class="table" id="applicants-table">
			            <thead>
			              <tr>
			                <th>S/No</th>
			                <th>Name</th>
			                <th>ID No</th>
			                <th>Gender</th>
			                
			              </tr>
			            </thead>
			            <tbody>
			              {% for candidate in staged_candidates %}
			              <tr>
			                	<td>{{forloop.counter}}</td>
			                  	<td>{{candidate}}</td>
			                  	<td>{{candidate.id_number}}</td>
			                  	<td>{{candidate.get_gender_display}}</td>                
			                </tr>               
			              {% endfor %}                  
			            </tbody>
		          	</table>
				</div>
			</div>		
		</div>				
	</div>
	<div class="col-md-4">
		<p>Consented so far by:</p>
		<div class="table-responsive">
          	<table class="table table-sm" id="approvers-table">
	            <thead>
	              <tr>
	                <th>Name</th>
	                <th>Action Type</th>
	                <th>Action</th>			                
	              </tr>
	            </thead>
	            <tbody>
	              {% for review in vacancy_reviews %}
	              <tr>
	                  	<td>
	                  		{{review.user.get_full_name}}
	                  		{% if review.user == user %}
	                  			<i class="fas fa-check-circle text-primary"></i>
	                  		{% endif %}
	                  	</td>
	                  	<td>{{review.action}}</td>			                  	
	                  	<td>{{review.get_approval_display}}d</td>                
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>

        {% if not user_review_exists %}
	        {% if not user|exists_in_group:"BOARD_CHAIRPERSON" %}
	        	<button id="assent-btn-awaiting" class="submit-btn btn btn-primary shadow">
		          <i class="fas fa-check-circle"></i>&nbsp;
		          Assent
		        </button>
		        <button href="#" id="dissent-btn-awaiting" class="btn btn-danger shadow">
		          <i class="fas fa-times-circle"></i>&nbsp;
		          Dissent
		        </button>
		    	{% else %}
	        	<button href="#" id="approve-btn-awaiting" class="submit-btn btn btn-primary shadow">
		    		<i class="fas fa-check-circle"></i>&nbsp;
		    		Approve
		    	</button>
	          	<button href="#" id="disapprove-btn-awaiting" class="btn btn-danger shadow">
	          		<i class="fas fa-times-circle"></i>&nbsp;
	          		Disapprove
	          	</button>
	        {% endif %}

	        {% else %}
	        <div class="alert alert-sm alert-light"> 
	        	<i class="fas fa-check-circle"></i> You have given your consent to {{action_type}}.
	        </div>
        {% endif %}
	</div>
</div>
<input type="hidden" name="vacancy_details" value="{{vacancy.id}}">
{% endblock content %}
{% block customjs %}
<script>
	$(document).ready(function() {

  		$('body').addClass('sidebar-mini')
		$('#applicants-table').DataTable();

		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

		const assentingSocket = new WebSocket(
		  ws_scheme+'://'
		  + window.location.host
		  + '/ws/recruitment/assenting/'
		);

		const approvalSocket = new WebSocket(
		  ws_scheme+'://'
		  + window.location.host
		  + '/ws/recruitment/approval/'
		);

		var vacancy_id = $('input[name="vacancy_details"]').val();
		var candidates_id_array = [];

	    {% for candidate in staged_candidates %}
	    	candidates_id_array.push({{candidate.id}});
	    {% endfor %}

		$('#assent-btn-awaiting').click(function(){
			console.log("Clicked")
	        assentingSocket.send(JSON.stringify({
	          'action_type': '{{vacancy.next_action}}',
	          'vacancy': vacancy_id,
	          'candidates': candidates_id_array,
	          'consent': true,
	        }));
	        // $('#shortlisting-modal').modal('hide');
	    });
	    $('#dissent-btn-awaiting').click(function(){
	        assentingSocket.send(JSON.stringify({
	          'action_type': '{{vacancy.next_action}}',
	          'vacancy': vacancy_id,
	          'candidates': candidates_id_array,
	          'consent': false,
	        }));
	        // $('#shortlisting-modal').modal('hide');
	    });

	    $('#approve-btn-awaiting').click(function(){
	        approvalSocket.send(JSON.stringify({              
	          'vacancy_id': vacancy_id,
	          'candidates_pks': candidates_id_array,
	          'action_type': '{{vacancy.next_action}}',
	          'approval': true
	        }));
	    });
	    $('#disapprove-btn-awaiting').click(function(){
	        // Dissaprove action
	    });


	});
</script>
{% endblock customjs %}