{% extends "layout/staff_layout.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block section_header %}
  	<section class="section-header">    
	<h1>{{nature_of_action}} Candidates</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item"><a href="{% url 'active-vacancies-list' %}"><i class="fas fa-tasks"></i> &nbsp; Vacancy ({{vacancy}})</a></div>
		<div class="breadcrumb-item"><a href="{% url 'applicants-list' vacancy.id %}"><i class="fas fa-tasks"></i> &nbsp; Applicants</a></div>
		<div class="breadcrumb-item">{{nature_of_action}} Candidates</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">{{nature_of_action}} Candidates - {{vacancy}}</h2>
<div class="card shadow">
	<div class="card-body">		
		{% if perms.recruitment.can_select_applicants %}
			{% if vacancy.allows_staging %}
				<button class="mb-3 btn btn-primary btn-shadow" id="shortlist-btn">
					<i class="fas fa-check-circle"></i> Stage Candidates
				</button>
			{% endif %}
		{% endif %}
		{% if not vacancy.allows_staging and vacancy.in_process %}
			<a href="{% url 'awaiting_room' vacancy.id next_action %}" class="mb-3 btn btn-primary btn-shadow">
				<i class="fas fa-long-arrow-alt-right"></i> Go to Awaiting Room
			</a>
		{% endif %}
		<div class="table-responsive">
          	<table class="table" id="applicants-table">
	            <thead>
	              <tr>
	                <th>
	                	{% if perms.recruitment.can_select_applicants and vacancy.allows_staging %}
	                		<input type="checkbox" id="select-all" name="users">
	                		{% else %}
	                		S/No
	                	{% endif %}
	                </th>
	                <th>Name</th>
	                <th>ID No</th>	                
	                <th>K.C.S.E</th>
	                <th>Qualifications</th>	                
	                <th>Locality</th>
	                <th>Contact</th>
	                <th>Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for applicant in applicants %}
	              <tr>
	                	<td>
	                		{% if perms.recruitment.can_select_applicants and vacancy.allows_staging %}
	                			<input type="checkbox" name="selected_candidates" value="{{applicant.id}}">
	                			{% else %}
	                			{{forloop.counter}}
	                		{% endif %}
	                	</td>
	                  	<td>{{applicant.get_full_name}} <br/> (Age: {{applicant.age}})</td>
	                  	<td>{{applicant.id_number}}</td>	                  	
	                  	<td>{{applicant.get_kcse_grade_display}}</td>
	                  	<td>
	                  		{% for qualification in applicant.user.qualifications.all  %}
	                  			- {{qualification.get_level_display}} in {{qualification.course}} ({{qualification.period_to.year}})<br>
	                  		{% endfor %}
	                  	</td>	                  	
	                  	<td>
	                  		- County: {{applicant.county}}<br/>
	                  		- Subcounty: {{applicant.subcounty}}<br/>
	                  		- Ward: {{applicant.ward}}<br/>
	                  		- Sublocation: {{applicant.sublocation}}
	                  	</td>	                  	
	                  	<td>{{applicant.phone}}</td>
	                  	<td></td>                
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
</div>
<input type="hidden" name="vacancy_details" value="{{vacancy.id}}">
{% endblock content %}
{% block customjs %}
<script src='{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}'></script>
<script>
	$(document).ready(function() {

  		$('body').addClass('sidebar-mini')
		$('#applicants-table').DataTable();

		if ($("input:checkbox:checked").length <= 0)
		{
		    $('#shortlist-btn').addClass('disabled');
		}

		$('input#select-all').click(function (event) {          
		    var selected = this.checked;
		    $(':checkbox').each(function () { this.checked = selected; });
		    
		});

		$(':checkbox').change(function() {
			if ($(":checkbox:checked").length <= 0)
			{
			    $('#shortlist-btn').addClass('disabled');
			}
			else {$('#shortlist-btn').removeClass('disabled');}
		})

		const stagingSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/recruitment/staging/'
        );

        stagingSocket.onmessage = function(e) {$('#shortlist-btn').addClass('disabled');}

		$('#shortlist-btn').click(function (){
			var vacancy = $('input[name="vacancy_details"]').val();

			if (!$(this).hasClass("disabled")) {
				var markedCheckboxes = $('input[name="selected_candidates"]'); 
				var candidate_ids = [];
				for (var checkbox of markedCheckboxes) {  
				    if (checkbox.checked) {
				    	candidate_ids.push(checkbox.value);
				    } 
				}
				stagingSocket.send(JSON.stringify({
	                'candidates': candidate_ids,
	                'vacancy': vacancy,
	                'action_type': '{{vacancy.next_action}}'
	            })); 
			}
		});


	});
</script>
{% endblock customjs %}