{% extends "layout/layout.html" %}
{% load static %}

{% block section_header %}
  	<section class="section-header">    
	<h1>Applied Jobs</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Applied Jobs</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Jobs you've applied for appear here.</h2>
<div class="card shadow">
	<div class="card-body d-none d-lg-block">
		<div class="table-responsive">
          	<table class="table text-center">
	            <thead>
	              <tr>
	                <th>S/No</th>
	                <th>Vacancy</th>
	                <th>Date Applied</th>
	                <th>Status</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for application in applications %}
	                <tr>
	                	<td>{{forloop.counter}}</td>
	                  	<td>{{application.vacancy}}</td>
	                  	<td>{{application.time_applied}}</td>
	                    <td>{{application.status|capfirst}}</td>    
	                </tr>               
	              {% endfor %}                  
	            </tbody>
          	</table>
        </div>
	</div>
	<div class="card-body d-lg-none">
        <ul class="list-group shadow">
        	{% if applications %}
	        	{% for application in applications %}
					<li class="list-group-item pb-0">
					  	<h6>{{application.vacancy}}</h6>
					  	<p>{{application.time_applied}}</p>
					  	<p>Status : {{application.status|capfirst}}</p>
					</li>
	        	{% endfor %}
	        	{% else %}
	        	<p class="mx-2">You've not made any applications</p>        		
        	{% endif %}
		</ul>
	</div>
</div>	
{% endblock content %}

{% block customjs %}
<script>
	$('table').dataTable();
	$('#vacancies-link, #applied-vacancies-link').addClass('active');
</script> 
{% endblock customjs %}