{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
<form method="post" action="" id="form" data-subcounties-url="{% url 'ajax_load_subcounties' %}" data-wards-url="{% url 'ajax_load_wards' %}" data-sublocations-url="{% url 'ajax_load_sublocations' %}">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Add SubCounty</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% crispy form %}
  </div>

  <div class="modal-footer bg-whitesmoke">
    <button type="button" class="btn btn-dark shadow" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary shadow">Add SubCounty</button>
  </div>

</form>
<script src="{% static 'js/load_ajax_results.js' %}"></script>