{% extends "layout/layout.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block section_header %}
  <section class="section-header">    
    <h1>Profile</h1>
    <div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Profile</div>
	</div>
  </section>
{% endblock section_header %}
{% block content %}

<div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-5">
        <div class="card profile-widget">
          <div class="profile-widget-header">                     
            <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Joined</div>
                <div class="profile-widget-item-value">{{user.date_joined|naturaltime}}</div>
              </div>
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Last login</div>
                <div class="profile-widget-item-value">{{user.last_login|naturaltime}}</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description">
            <div class="profile-widget-name ml-2">{{user.get_full_name}}</div>
            <div class="table-responsive">
		        <table class="table">
		          <tbody>
		            <tr>
		              <td>Name</td>
		              <td>{{user.get_full_name}}</td>
		            </tr>
		            <tr>
		              <td>ID No.</td>
		              <td>{{user.id_number}}</td>
		            </tr>
		            <tr>
		              <td>Email</td>
		              <td>{{user.email}}</td>
		            </tr>
		          </tbody>
		        </table>
		    </div>
          </div>
          
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7">
        <div class="card">
          <form method="POST">
            <div class="card-header">
              <h4>Edit Profile</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% crispy form %}
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-primary">Save Changes</button>
            </div>
          </form>
      	</div>
  	</div>
</div>

{% endblock %}