{% extends "layout/auth_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Complete Profile{% endblock %}

{% block content %}
<div class="card card-primary shadow">
	<div class="card-header border-bottom"><h4>Complete Your Profile</h4></div>
	<div class="card-body">		
		<p>Let's start with your personal details</p>	

		<form method="POST">
		  	{% csrf_token %}
		  	{{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {% crispy form %}
              {% endfor %}
            {% else %}              
              {% crispy wizard.form %}
            {% endif %}

            {% include "recruitment/forms/wizards/_buttons.html" %}
		</form>
	</div>
</div>
{% endblock %}
