{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Update Department</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% crispy form %}
  </div>

  <div class="modal-footer bg-whitesmoke">
    <button type="button" class="btn btn-dark shadow" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary shadow">Save Changes</button>
  </div>

</form>