<div class="modal left fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" id="approval-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Approve shortlist for vacancy <span id="vacancy_name"></span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="modal-body">
	    	The following members have assented to the shortlisting of the <span id="candidates_count" class="font-weight-bold">X</span> candidates for the vacancy <span id="vacancy_name" class="font-weight-bold"></span>. Please approve or disapprove by clicking on the buttons below as deemed appropriate.

	    	<div class="mt-3">    		
	    		<ul class="list-group list-group-flush" id="approvers">
	    			<li class="list-group-item font-weight-bold">Approvers List</li>
	    		</ul>
	    	</div>

	    	<button type="button" id="display-candidates" class="btn btn-outline-primary my-3">
	    		View Candidates &nbsp;
	    		<i class="fas fa-caret-down"></i>
	    	</button>

	    	<div class="container" id="candidates-section">
	          <div class="table-responsive">
	            <table class="table table-sm" id="candidates-table">
	              <thead>
	                <tr>
	                  <th>Name</th>
	                  <th>ID Number</th>
	                  <th>Gender</th>
	                  <th>Contact</th>
	                </tr>
	              </thead>
	              <tbody></tbody>
	            </table>                  
	          </div>                  
	        </div>
	    </div>
	    <div class="modal-footer bg-whitesmoke">
	    	<button href="#" id="approve-btn" class="submit-btn btn btn-primary shadow">
	    		<i class="fas fa-check-circle"></i>&nbsp;
	    		Approve the Shortlist
	    	</button>
          	<button href="#" id="disapprove-btn" class="btn btn-danger shadow">
          		<i class="fas fa-times-circle"></i>&nbsp;
          		Disapprove the Shortlist
          	</button>
	    </div>
    </div>
  </div>
</div>