<div class="modal right fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" id="shortlisting-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm shortlist for vacancy <span id="vacancy_name" class="font-weight-bold"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p id="affirmatory-text">The following candidates have been staged as the shortlist for the vacancy <span id="vacancy_name" class="font-weight-bold"></span>. Please assent or dissent by clicking on the buttons below as deemed appropriate.</p>
        <div class="container">
          <div class="table-responsive">
            <table class="table table-sm" id="shortlisting-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID Number</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>                  
          </div>                  
        </div>
      </div>
      <input type="hidden" name="redirect" value="{{  request.META.HTTP_REFERER }}" />
      <div class="modal-footer bg-whitesmoke" id="call-to-action">
                  
        <button href="#" id="assent-btn" class="submit-btn btn btn-primary shadow">
          <i class="fas fa-check-circle"></i>&nbsp;
          Assent
        </button>
        <button href="#" id="dissent-btn" class="btn btn-danger shadow">
          <i class="fas fa-times-circle"></i>&nbsp;
          Dissent
        </button>
        
      </div>
    </div>
  </div>
</div>