<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>NYERI CPSB &rsaquo; RECRUITMENT PORTAL {% if title %}| {{title}}{% endif %}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha512-LhZScx/m/WBAAHyiPnM+5hcsmCMjDDOgOqoT9wyIcs/QUPm6YxVNGZjQG5iP8dhWMWQAcUUTE3BkshtrlGbv2Q==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-side-modals.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <link rel="icon" href="{% static 'img/county_logo.png' %}">
</head>

<body>
  <div id="app">    
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Histories
              </div>
              
              <div class="search-header">
                Result
              </div>
              <div class="search-item">
                <a href="#">
                  <img class="mr-3 rounded" width="30" src="{% static 'img/county_logo.png' %}" alt="product">
                  oPhone S9 Limited Edition
                </a>
              </div>
              
              <div class="search-header">
                Projects
              </div>
              <div class="search-item">
                <a href="#">
                  <div class="search-icon bg-danger text-white mr-3">
                    <i class="fas fa-code"></i>
                  </div>
                  Stisla Admin Template
                </a>
              </div>              
            </div>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">{{user.id_number}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logged in {{user.last_login|naturaltime}}</div>
              <a href="{% url 'profile' %}" class="dropdown-item has-icon">
                <i class="fas fa-user-circle"></i> Profile
              </a>
              <a href="features-activities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Activities
              </a>
              <a href="features-settings.html" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              {% if request.session.oidc_id_token %}
                <form action="{% url 'oidc_logout' %}" method="post">
                  {% csrf_token %}
                  <button class="dropdown-item btn-sm text-danger" type="submit">
                    <i class="fas fa-sign-out-alt"></i> &nbsp; Logout
                  </button>
                </form>
                {% else %}
                <a href="{% url 'account_logout' %}" class="dropdown-item text-danger">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              {% endif %}
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-1">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/cpsb_logo.png' %}" alt="CPSB Logo" width="100" class="img-fluid mt-2">
            </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/cpsb_logo.png' %}" alt="CPSB Logo" width="50" class="img-fluid">
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li id="dashboard-link">
              <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-fire"></i> <span>Dashboard</span></a>
            </li>
            {% if perms.recruitment.has_admin_privileges %}
              {% include "users/sidebars/_superuser.html" %}
              {% else %}
              {% include "users/sidebars/_staff.html" %}
            {% endif %}
            {% if user.is_applicant %}
              {% include "users/sidebars/_applicants.html" %}
            {% endif %}
          </ul>

          <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
              <i class="fas fa-rocket"></i> Documentation
            </a>
          </div>        
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        {% include "layout/_modal.html" %}
        {% if perms.recruitment.can_shortlist  %}          
          {% include "layout/_shortlisting_modal.html" %}
        {% endif %}
        {% if perms.recruitment.can_approve_shortlist %}
          {% include "layout/_approval_modal.html" %}
          {% endif %}


        <section class="section">
          {% block section_header %}{% endblock section_header %}
          <input type="hidden" name="chairperson_check" value="{{perms.recruitment.can_approve_shortlist}}">
          <input type="hidden" name="member_check" value="{{perms.recruitment.can_shortlist}}">
          <input type="hidden" name="secretary_check" value="{{perms.recruitment.can_select_applicants}}">
          <div class="section-body">
            {% block content %}{% endblock content %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; Nyeri County Government 2020 <div class="bullet"></div> Design By <a href="http://www.abedynganga.com">Abed Ng'ang'a</a>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>  
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
  
  <!-- JS Libraies -->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Page Specific JS File -->
  
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/stisla.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    {% if messages %}
      {% for message in messages %}
        var swal_func = function() {
          Swal.fire({
            type: "{{message.tags}}",
            title: "{{message|safe}}",
            position: 'bottom-start',
            toast: true,
            confirmButtonText: "&times;",
          });
        }
        swal_func();
      {% endfor %}      
    {% endif %}
  </script>

    <!-- Template JS File -->
  {% block customjs %}    
  {% endblock customjs %}
  
  <script src='{% static "js/websockets.js" %}'></script>
</body>
</html>