{% extends "layout/staff_layout.html" %}
{% load static %}

{% block section_header %}
  	<section class="section-header">    
	<h1>Locality</h1>
	<div class="section-header-breadcrumb">
		<div class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> &nbsp; Home</a></div>
		<div class="breadcrumb-item">Locality</div>
	</div>
  	</section>
{% endblock section_header %}
{% block content %}
<h2 class="section-title">Counties List</h2>
<div class="card shadow">
	<div class="card-body">
		<button class="mb-3 btn btn-primary btn-shadow" id="add-county">
			<i class="fas fa-plus-circle"></i> Add County
		</button>
		<button class="mb-3 btn btn-primary btn-shadow" id="add-subcounty">
			<i class="fas fa-plus-circle"></i> Add Subcounty
		</button>
		<button class="mb-3 btn btn-primary btn-shadow" id="add-ward">
			<i class="fas fa-plus-circle"></i> Add Ward
		</button>
		<button class="mb-3 btn btn-primary btn-shadow" id="add-sublocation">
			<i class="fas fa-plus-circle"></i> Add Sublocation
		</button>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
              <tr>
                <th>S/No</th>
                <th>Name</th>
                <th>Subcounties</th>
                <th>Wards</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for county in counties %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{county.name}}</td>
                    <td>{{county.subcounties.count}}</td>
                    <td>{{county.wards.count}}</td>
                    <td>
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu">
                          <button type="button" class="update-department dropdown-item btn-sm" data-id="#"> 
                            <i class="far fa-edit"></i> Update Details
                          </button>
                          <div class="dropdown-divider"></div>
                          <button type="button" class="delete-department dropdown-item btn-sm text-danger" data-id="#"> 
                            <i class="fas fa-trash"></i> Delete County
                          </button>
                        </div>
                    </td>               
                </tr>               
              {% endfor %}                  
            </tbody>
        </table>
    </div>
	</div>
</div>
	
{% endblock content %}

{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $('#locality-link').addClass('active');
    // $('.table').DataTable();
    $("#add-county").modalForm({
        formURL: "{% url 'add-county' %}"
    });
    $("#add-subcounty").modalForm({
        formURL: "{% url 'add-subcounty' %}"
    });
    $("#add-ward").modalForm({
        formURL: "{% url 'add-ward' %}"
    });
    $("#add-sublocation").modalForm({
        formURL: "{% url 'add-sublocation' %}"
    });
    $('.table').dataTable();
</script>  
{% endblock customjs %}